@media only screen and (max-width: 1280px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header {
        padding: 26px 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .header-logo{
        width: 46px;
        height: 46px;
        order: 2;
    }
    .header-logo__desc{
        display: none;
    }
    .header.container{
        padding: 8px 0 0;
    }
    .header-head{
        margin-bottom: 110px;
        position: relative;
        display: flex;  
        justify-content: space-between;
        border-bottom: 0.5px solid #000000;
        padding: 0 20px 8px;
    }
    .search{
        position: absolute;
        bottom: -60px;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
    }
    .header__btn{
        display: flex;
        order: 3;
    }
    .search__field {
        font-size: 12px;
        line-height: 16px;
    }
    .nav{
        display: none;
    }
    .article {
        padding-bottom: 54px;
        margin-bottom: 42px;
    }
    .article__title {
        font-size: 24px;
        line-height: 33px;
        width: auto;
        margin-bottom: 32px;
    }
    .modalita__pay {
        position: static;
    }
    .modalita{
        display: flex;
        flex-direction: column;
        .modalita__pay{
            order: 3;
            div {
                font-size: 16px;
                line-height: 22px;
                font-family: "f300";
            }
        }
        .modalita__items{
            order: 2;
            margin-bottom: 32px;
            flex-direction: column;
            gap: 20px;
        }
        .modalita__item {
            font-size: 16px;
            line-height: 22px;
        }
        .modalita__paysub {
            font-size: 18px;
            line-height: 25px;
        }
    }











}
