@font-face {
    font-family: 'f800';
    src: url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f700';
    src: url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f600';
    src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f500';
    src: url('../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f400';
    src: url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f300';
    src: url('../fonts/Manrope-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f200';
    src: url('../fonts/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';

body {
    font-family: 'f400';
    color: $text-color;
    font-size: 18px;
    line-height: 24px;
}
.container{
    width: 1252px;
    margin: 0 auto;
}
.search {
    width: 300px;
    position: relative;
    padding-right: 50px;
    border-bottom: 1px solid #C4C4C4;
    &__field {
        height: 40px;
        margin: 0;
        padding: 0;
        border: 0;
        
        font-size: 14px;
        line-height: 19px;
        font-family: 'f300';
        width: 100%;
        &::placeholder {
            opacity: 1;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 21px;
        height: 21px;
        background: url(../img/search.png) no-repeat center center;
        top: 10px;
        right: 10px;
        //z-index: -1;
    }
}
.header-logo {
    width: 380px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 150px;
    background: url(../img/logo.svg) no-repeat center top;
    &__desc {
        font-family: 'f300';
        font-size: 16px;
        line-height: 22px;
    }
}
.header-navgroup {
    display: flex;
    justify-content: flex-end;
}
.header-nav {
    display: flex;
    &__link {
        display: block;
        width: 40px;
        height: 40px;
        transition: $transition;
        &:hover{
            opacity: 0.5;
        }
        &_basket {
            background: url(../img/basket.png) no-repeat center center;
        }
        &_login {
            background: url(../img/login.png) no-repeat center center;
            margin-left: 10px;
        }
    }
}
.header {
    &-head{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto 1fr;
        margin-bottom: 56px;
    }
    padding: 26px 0;
    &__btn {}
}
.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 40px;
    &__link {
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        font-family: 'f500';
        transition: $transition;
        &_drop {
            position: relative;
            cursor: pointer;
            padding-right: 20px;
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                background: url(../img/down-arrow.png) no-repeat center center / contain;
                top: 5px;
                right: 0px;
            }
        }
        span{
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            font-family: 'f500';
        }
        &:hover{
            opacity: 0.5;
        }
    }
    &__drop {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
    &__drop-item {}
    &__drop-link {
        
    }
    &__note {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
        line-height: 19px;
        font-family: 'f300';
    }
}


@import '_query';