@font-face {
    font-family: 'f800';
    src: url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f700';
    src: url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f600';
    src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f500';
    src: url('../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f400';
    src: url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f300';
    src: url('../fonts/Manrope-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'f200';
    src: url('../fonts/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';

body {
    font-family: 'f400';
    color: $text-color;
    font-size: 20px;
    line-height: 24px;
}
.container{
    width: 1252px;
    margin: 0 auto;
}
.header {
    background: $text-color;
    height: 42px;
}

@import '_query';