@charset "UTF-8";
@font-face {
  font-family: "f800";
  src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f700";
  src: url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f600";
  src: url("../fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f500";
  src: url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f400";
  src: url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f300";
  src: url("../fonts/Manrope-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f200";
  src: url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.oh {
  overflow: hidden;
}

.ac {
  text-align: center;
}

.df {
  display: flex;
}

.dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m0a {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus,
button,
button:active,
button:focus,
label,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
  color: #111111;
}

*:focus {
  outline: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
  font-family: "f500";
}

input,
select,
textarea {
  font-family: "f400";
}

p {
  margin: 0 0 16px;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a *,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
  color: #111111;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 16px 0;
  padding: 0;
}

b, strong {
  font-family: "f500";
  font-weight: 400;
}

i {
  font-style: italic;
}

table {
  border: 1px solid #111111;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #111111;
  padding: 8px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

body {
  font-family: "f400";
  color: #111111;
  font-size: 18px;
  line-height: 24px;
}

.container {
  width: 1252px;
  margin: 0 auto;
}

.search {
  width: 300px;
  position: relative;
  padding-right: 50px;
  border-bottom: 1px solid #C4C4C4;
}
.search__field {
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  line-height: 19px;
  font-family: "f300";
  width: 100%;
}
.search__field::-moz-placeholder {
  opacity: 1;
}
.search__field::placeholder {
  opacity: 1;
}
.search:after {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  background: url(../img/search.png) no-repeat center center;
  top: 10px;
  right: 10px;
}

.header-logo {
  width: 380px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 150px;
  background: url(../img/logo.svg) no-repeat center top;
}
.header-logo__desc {
  font-family: "f300";
  font-size: 16px;
  line-height: 22px;
}

.header-navgroup {
  display: flex;
  justify-content: flex-end;
}

.header-nav {
  display: flex;
}
.header-nav__link {
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.header-nav__link:hover {
  opacity: 0.5;
}
.header-nav__link_basket {
  background: url(../img/basket.png) no-repeat center center;
  position: relative;
}
.header-nav__link_login {
  background: url(../img/login.png) no-repeat center center;
  margin-left: 10px;
}
.header-nav__link-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  background: #DE3838;
  bottom: 5px;
  right: 2px;
  border-radius: 50%;
}

.header {
  padding: 26px 0;
}
.header-head {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 56px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 40px;
}
.nav__link {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "f500";
  transition: all 0.2s ease-in-out;
}
.nav__link_drop {
  padding-right: 20px;
  background: url(../img/down-arrow.png) no-repeat right center/16px;
  top: 5px;
  right: 0px;
}
.nav__link_drop:hover {
  opacity: 1 !important;
}
.nav__link_drop:hover .nav__drop {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.nav__link span {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "f500";
  transition: all 0.2s ease-in-out;
  cursor: default;
}
.nav__link:hover {
  opacity: 0.5;
}
.nav__drop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  top: 50px;
  padding: 36px;
}
.nav__drop-item {
  -moz-column-count: 3;
       column-count: 3;
}
.nav__drop-link {
  display: block;
  font-size: 14px;
  line-height: 19px;
  text-transform: none;
  font-family: "f400";
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
.nav__drop-link:hover {
  opacity: 0.5;
}
.nav__note {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 19px;
  font-family: "f300";
}

.article {
  padding-bottom: 102px;
  margin-bottom: 92px;
  border-bottom: 1px solid #111111;
  position: relative;
}
.article__title {
  font-family: "f500";
  font-size: 46px;
  line-height: 63px;
  text-transform: uppercase;
  width: 510px;
  margin-bottom: 42px;
}

.intro .slick-prev, .intro .slick-next {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/arr_white.png) no-repeat center center;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.intro .slick-prev {
  left: 40px;
}
.intro .slick-prev:hover {
  left: 35px;
}
.intro .slick-next {
  right: 40px;
  transform: rotate(180deg) translate(0, 50%);
}
.intro .slick-next:hover {
  right: 35px;
}
.slick-prev::before, .slick-prev::after, .slick-next::before, .slick-next::after {
  display: none;
}

.modalita__pay {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
.modalita__pay div {
  font-size: 18px;
  line-height: 25px;
}
.modalita__paysub {
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modalita__items {
  display: flex;
  justify-content: space-between;
}
.modalita__item {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "f300";
}

.offer__grid {
  display: grid;
  grid-template: 1fr 1fr/2fr 1fr;
  gap: 20px;
}
.offer__link {
  display: block;
  overflow: hidden;
}
.offer__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.offer__link:hover img {
  transform: scale(1.05);
}
.offer__grid-1 {
  grid-row: 1/3;
  grid-column: 1/2;
}
.offer__grid-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.offer__grid-3 {
  grid-row: 2/2;
  grid-column: 2/3;
}

.about__list {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
  gap: 20px;
}
.about__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__item-title {
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  border-bottom: 1px solid #111111;
  margin-bottom: 12px;
}
.popular__list {
  display: flex;
  justify-content: space-between;
}
.popular__item {
  width: 120px;
}
.popular__link {
  display: block;
  text-align: center;
}
.popular__link img {
  border: 1px solid #111111;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin-bottom: 22px;
  transition: all 0.2s ease-in-out;
}
.popular__link:hover img {
  transform: scale(1.05);
}
.popular__link-desc {
  font-size: 16px;
  line-height: 22px;
}

.adv__wrap {
  display: flex;
  gap: 40px;
}
.adv__pic {
  flex: 0 0 500px;
  background: url(../img/plus_bg.jpg) no-repeat right top;
  position: relative;
  height: 400px;
}
.adv__pic-item {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.adv__pic-item.vis {
  opacity: 1;
}
.adv__desc {
  display: flex;
  flex-direction: column;
  gap: 26px;
  border-left: 4px solid #C4C4C4;
}
.adv__desc-item {
  font-family: "f300";
  transition: all 0.2s ease-in-out;
  cursor: default;
  padding: 10px 0 10px 28px;
  border-left: 4px solid transparent;
  transform: translateX(-4px);
}
.adv__desc-item:hover {
  font-size: 22px;
  line-height: 30px;
  font-family: "f400";
  border-left: 4px solid #111;
}

.best {
  padding-bottom: 70px;
}
.best__slider {
  padding: 0 40px;
}
.best__slider .slick-prev, .best__slider .slick-next {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/arr_black.png) no-repeat center center;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.best__slider .slick-prev {
  left: 0;
}
.best__slider .slick-prev:hover {
  left: -5px;
}
.best__slider .slick-next {
  right: 0;
  transform: rotate(180deg) translate(0, 50%);
}
.best__slider .slick-next:hover {
  right: -5px;
}
.best__item {
  margin: 0 13px;
  flex-direction: column;
  display: flex !important;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding-bottom: 10px;
}
.best__item:hover .best__link {
  border: 1px solid transparent;
}
.best__item:hover .best__item-pic {
  transform: scale(1.1);
}
.best .slick-track {
  display: flex;
  align-items: stretch;
  padding-bottom: 20px;
}
.best__link {
  border: 1px solid #D2D2D2;
  display: flex;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  align-self: stretch;
}
.best__item-pic {
  max-width: 100%;
  max-height: 100%;
}
.best__item-name {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  padding: 0 10px;
}
.best__item-price {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #DE3838;
  font-family: "f600";
}

.btn {
  font-size: 16px;
  line-height: 22px;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "f500";
  text-transform: uppercase;
  background: #111;
  border: 1px solid #111;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0 26px;
}
.btn:hover {
  color: #111;
  background: transparent;
}

.brand__slider {
  padding: 0 40px;
}
.brand__slider .slick-prev, .brand__slider .slick-next {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/arr_black.png) no-repeat center center;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.brand__slider .slick-prev {
  left: 0;
}
.brand__slider .slick-prev:hover {
  left: -5px;
}
.brand__slider .slick-next {
  right: 0;
  transform: rotate(180deg) translate(0, 50%);
}
.brand__slider .slick-next:hover {
  right: -5px;
}
.brand__slider .slick-track {
  display: flex;
  align-items: stretch;
}
.brand__slider-item {
  margin: 0 13px;
  flex-direction: column;
  display: flex !important;
  height: auto;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.aboutus__wrap {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.aboutus__desc h4 {
  font-family: "f500";
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 26px;
}
.aboutus__desc p {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 26px;
}
.aboutus__desc p:last-child {
  margin-bottom: 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #C4C4C4;
}
.footer__logo {
  display: block;
  width: 86px;
  height: 86px;
  background: url(../img/logo.svg) no-repeat center top/contain;
  margin-bottom: 24px;
}
.footer__mail {
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
  margin-bottom: 46px;
  display: inline-block;
}
.footer__mail:hover {
  text-decoration: none;
}
.footer__socwrap {
  display: flex;
  gap: 16px;
}
.footer__soc {
  display: block;
  width: 38px;
  height: 38px;
  transition: all 0.2s ease-in-out;
}
.footer__soc:hover {
  transform: scale(1.1);
}
.footer__soc-fb {
  background: url(../img/fb.png) no-repeat center top/contain;
}
.footer__soc-in {
  background: url(../img/in.png) no-repeat center top/contain;
}
.footer__product-title {
  font-family: "f500";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
.footer__product-list {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}
.footer__product-item {
  margin-bottom: 10px;
}
.footer__product-link {
  font-size: 14px;
  line-height: 19px;
  transition: all 0.2s ease-in-out;
}
.footer__product-link:hover {
  opacity: 0.5;
}
.footer__link-item {
  margin-bottom: 10px;
}
.footer__link-link {
  font-family: "f500";
  font-size: 16px;
  line-height: 22px;
  transition: all 0.2s ease-in-out;
}
.footer__link-link:hover {
  opacity: 0.5;
}
.footer__copy {
  padding: 46px 0;
  font-size: 14px;
  line-height: 19px;
}
.footer__copy a {
  text-decoration: underline;
}
.footer__copy a:hover {
  text-decoration: none;
}

.header__btn {
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  transform: translateX(16px);
}

#hamburger {
  width: 24px;
  height: 18px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger span:first-child {
  top: 0;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #111;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#hamburger.open span:first-child {
  transform: rotate(45deg);
  top: 0;
  left: 4px;
}

#hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 17px;
  left: 4px;
}

.article__subtitle {
  font-family: "f300";
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}

.corsi {
  display: grid;
  grid-template: 1fr 2fr/1fr 1fr;
  padding-top: 82px;
}
.corsi__head {
  grid-row: 1/2;
  grid-column: 2/3;
  border-bottom: 1px solid #111111;
}
.corsi__about {
  grid-row: 1/3;
  grid-column: 1/2;
}
.corsi__about img {
  margin-bottom: 42px;
  max-width: 480px;
}
.corsi__about h3 {
  font-family: "f500";
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 24px;
  max-width: 480px;
}
.corsi__about div {
  font-size: 20px;
  line-height: 27px;
  font-family: "f300";
  max-width: 480px;
}
.corsi__adv {
  grid-row: 2/3;
  grid-column: 2/3;
  padding-top: 80px;
}
.corsi__adv h3 {
  font-family: "f500";
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.tab__wrap {
  display: flex;
  justify-content: space-between;
  gap: 86px;
}
.tab__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.tab__item {
  white-space: nowrap;
  color: #111;
  background: transparent;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}
.tab__item:hover, .tab__item.act {
  color: #fff;
  background: #111;
}
.tab__desc {
  position: relative;
  flex-grow: 2;
}
.tab__desc-item {
  display: none;
}
.tab__desc-item.vis {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.tab__desc-text p {
  font-size: 16px;
  line-height: 22px;
}
.tab__desc-text .btn {
  margin-top: 42px;
}

.review__slider {
  padding: 0 40px;
}
.review__slider .slick-prev, .review__slider .slick-next {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/arr_black.png) no-repeat center center;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.review__slider .slick-prev {
  left: 0;
}
.review__slider .slick-prev:hover {
  left: -5px;
}
.review__slider .slick-next {
  right: 0;
  transform: rotate(180deg) translate(0, 50%);
}
.review__slider .slick-next:hover {
  right: -5px;
}
.review__slider .slick-track {
  display: flex;
  align-items: stretch;
}
.review__item {
  margin: 0 13px;
  flex-direction: column;
  display: flex !important;
  height: auto;
  border: 1px solid #111111;
  padding: 28px;
  align-items: flex-start;
}
.review__name {
  font-size: 20px;
  line-height: 21px;
  font-family: "f600";
  margin-bottom: 22px;
  background: url(../img/in_red.png) no-repeat right center;
  height: 38px;
  padding-right: 45px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.review__in {
  font-size: 18px;
  line-height: 25px;
  font-family: "f500";
  margin-bottom: 22px;
  text-decoration: underline;
}
.review__in:hover {
  text-decoration: none;
}
.portfolio {
  margin: 0;
  border: 0;
}
.portfolio__slider {
  padding: 0 40px;
}
.portfolio__slider .slick-prev, .portfolio__slider .slick-next {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/arr_black.png) no-repeat center center;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.portfolio__slider .slick-prev {
  left: 0;
}
.portfolio__slider .slick-prev:hover {
  left: -5px;
}
.portfolio__slider .slick-next {
  right: 0;
  transform: rotate(180deg) translate(0, 50%);
}
.portfolio__slider .slick-next:hover {
  right: -5px;
}
.portfolio__slider .slick-track {
  display: flex;
  align-items: stretch;
}
.portfolio__item {
  margin: 0 13px;
  flex-direction: column;
  display: flex !important;
  height: auto;
}

.reg {
  background: url(../img/bg.jpg) no-repeat center center;
  padding: 92px 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg .article__title {
  width: auto;
}
.reg__link {
  text-decoration: underline;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 56px;
  display: inline-flex;
}
.reg__link:hover {
  text-decoration: none;
}
.reg__socwrap {
  display: flex;
  gap: 16px;
}
.reg__soc {
  display: block;
  width: 55px;
  height: 55px;
  transition: all 0.2s ease-in-out;
}
.reg__soc:hover {
  transform: scale(1.1);
}
.reg__soc-te {
  background: url(../img/te.png) no-repeat center top/contain;
}
.reg__soc-wa {
  background: url(../img/wa.png) no-repeat center top/contain;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .header {
    padding: 26px 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-logo {
    width: 46px;
    height: 46px;
    order: 2;
    background: url(../img/logo.svg) no-repeat center top/contain;
  }
  .header-logo__desc {
    display: none;
  }
  .header.container {
    padding: 8px 0 0;
  }
  .header-head {
    margin-bottom: 110px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #000000;
    padding: 0 20px 8px;
  }
  .search {
    position: absolute;
    bottom: -60px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
  }
  .header__btn {
    display: flex;
    order: 3;
  }
  .search__field {
    font-size: 12px;
    line-height: 16px;
  }
  .nav {
    display: none;
  }
  .article {
    padding-bottom: 54px;
    margin-bottom: 42px;
  }
  .article__title {
    font-size: 24px;
    line-height: 33px;
    width: auto;
    margin-bottom: 32px;
  }
  .modalita__pay {
    position: static;
  }
  .modalita {
    display: flex;
    flex-direction: column;
  }
  .modalita .modalita__pay {
    order: 3;
  }
  .modalita .modalita__pay div {
    font-size: 16px;
    line-height: 22px;
    font-family: "f300";
  }
  .modalita .modalita__items {
    order: 2;
    margin-bottom: 32px;
    flex-direction: column;
    gap: 20px;
  }
  .modalita .modalita__item {
    font-size: 16px;
    line-height: 22px;
  }
  .modalita .modalita__paysub {
    font-size: 18px;
    line-height: 25px;
  }
  .offer__grid {
    grid-template: 1fr 1fr 1fr/1fr;
  }
  .offer__grid-1, .offer__grid-2, .offer__grid-3 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .offer__grid-2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .offer__grid-3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .about__list {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .about__item-title {
    font-size: 22px;
    line-height: 30px;
  }
  .about__item-desc {
    font-size: 16px;
    line-height: 22px;
  }
  .popular__list {
    overflow-x: auto;
    gap: 22px;
    margin: 0 -20px;
    padding: 0 20px;
  }
  .popular__item {
    min-width: 82px;
  }
  .popular__link-desc {
    font-size: 12px;
    line-height: 16px;
    display: block;
    text-align: center;
  }
  .adv__wrap {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .adv__pic {
    flex: 0 0 320px;
    width: 320px;
    background-size: 172px 172px;
    order: 2;
  }
  .adv__pic-item.vis {
    width: 195px;
  }
  .adv__desc-item {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0 10px 14px;
  }
  .adv__desc-item:hover {
    font-size: 18px;
    line-height: 25px;
  }
  .adv__desc {
    gap: 0px;
    order: 1;
  }
  .best__slider {
    padding: 0;
    display: flex;
    margin: 0 -20px;
    padding: 0 20px;
    overflow-x: auto;
  }
  .best__item {
    width: 140px;
    min-width: 140px;
  }
  .best__item:first-child {
    margin-left: 0;
  }
  .best__item-pic {
    max-height: 120px;
  }
  .best__link {
    height: 180px;
    margin-bottom: 10px;
  }
  .best__item-name {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6px;
  }
  .best__item-price {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 12px;
  }
  .btn {
    font-size: 12px;
    line-height: 16px;
    height: 42px;
    padding: 0 5px;
  }
  .brand__slider {
    padding: 0;
    display: flex;
    margin: 0 -20px;
    padding: 0 20px;
    overflow-x: auto;
  }
  .brand__slider-item {
    width: 140px;
    min-width: 140px;
  }
  .brand__slider-item:first-child {
    margin-left: 0;
  }
  .aboutus__wrap {
    flex-direction: column;
  }
  .aboutus__desc p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .footer {
    flex-direction: column;
    padding-bottom: 42px;
  }
  .footer__promo {
    display: flex;
    justify-content: space-between;
  }
  .footer__mail {
    margin-bottom: 20px;
  }
  .footer__logo {
    margin-bottom: 42px;
  }
  .footer__product {
    margin-bottom: 32px;
  }
  .footer__product-title {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__product-link {
    font-size: 12px;
    line-height: 16px;
    display: block;
  }
  .footer__product-item {
    margin-bottom: 8px;
  }
  .footer__link-list {
    display: flex;
    justify-content: space-between;
  }
  .footer__link-item {
    margin-bottom: 0;
  }
  .footer__link-link {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__copy {
    padding: 22px 20px;
    font-size: 12px;
    line-height: 22px;
  }
  .footer__product-list {
    gap: 16px;
  }
  .nav.vis {
    display: flex;
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    z-index: 100;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .intro .slick-prev, .intro .slick-next {
    display: none !important;
  }
  .nav__note {
    display: none;
  }
  .nav__link_drop.vis .nav__drop {
    display: flex;
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    z-index: 110;
    opacity: 1;
    visibility: visible;
  }
  .nav__link_drop.vis .nav__drop .nav__drop-item {
    -moz-column-count: 2;
         column-count: 2;
  }
}/*# sourceMappingURL=main.css.map */